<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{!-- Bootstrap CSS --}}
  <link rel="stylesheet" href="./vendors/bootstrap/bootstrap.min.css">
  {{!-- Personal CSS --}}
  <link rel="stylesheet" href="./css/style.css">
</head>

<body class="container-fluid">

  {{{body}}}

  {{!-- Bootstrap Scripts --}}
  <script src="./vendors/bootstrap/jquery.min.js"></script>
  <script src="./vendors/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>