<h1 class="text-center my-4">Agregar Nueva Pelicula</h1>
<section class="row">
  <form class="col-sm-5 mx-auto" action="/agregar" method="POST">
    <div class="form-group">
      <label for="title">Titulo</label>
      <input type="text" name="title" id="title" class="form-control" value="{{title}}">
    </div>
    <div class="form-group">
      <label for="year">Estreno</label>
      <input type="number" name="year" id="year" class="form-control" value="{{year}}">
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input type="number" name="rating" id="rating" class="form-control" value="{{rating}}">
    </div>
    <div class="form-group">
      <label for="genere">Genero</label>
      <select class="form-control" name="genere" id="genere">
        <option value="Superheroes">Superheroes</option>
        <option value="Science Fiction">Ciencia Ficcion</option>
        <option value="Fantasy">Fantasia</option>
        <option value="Documentary">Documental</option>
        <option value="Horror">Horror</option>
        <option value="Action">Accion</option>
        <option value="Drama">Drama</option>
        <option value="Comedy">Comedia</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Agregar Pelicula</button>
  </form>
</section>