<h1 class="text-center my-4">Sign In</h1>
<div class="container">
  <section class="row">
    <form class="col col-sm-5 mx-auto" action="/signin" method="POST">
      <div class="form-group">
        <label for="name">Username</label>
        <input name="name" id="name" type="text">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" id="email" type="email">
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input name="pass" id="pass" type="password">
      </div>
      <div class="form-group">
        <label for="confirmPass">Verify Password</label>
        <input name="confirmPass" id="confirmPass" type="password">
      </div>
      <button class="btn btn-primary ml-5 mr-5" type="submit">Sign In</button>
      <a href="/login" class="btn btn-outline-info">Log In</a>
    </form>
  </section>
</div>